{% load static i18n %}
<footer id="footer" class="dashboard-container columns_3 cf footer">
    <div class="dashboard-column-wrapper">
        <p class="smaller"><strong>Global Media Monitoring Project (GMMP)</strong>
            is the world's largest and longest running research and advocacy initiative
            that seeks to advance gender equality in and through the news media. <br />
    </div>
    <div class="dashboard-column-wrapper">
    </div>
    <div class="dashboard-column-wrapper">
        <a href="//http://whomakesthenews.org/" target="_blank" rel="noopener">
            <img src="{% static 'img/wmtn.png' %}" alt="Who Makes The News" style="margin-top: 0;"></a>
        <a href="//codeforafrica.org" target="_blank" rel="noopener">
            <img src="{% static 'img/codeforafrica.png' %}" alt="Code for Africa"></a>
    </div>
</footer>