{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <h2>Welcome to the 2015 GMMP Database.</h2>
            <p class=header-instructions>Select one of the following forms to capture the relevant information.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <div class="box">
                <a href="{% url 'admin:forms_internetnewssheet_add' %}">
                    <div>Add Internet News Article</div>
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
            <h3>
                <a href="{% url 'admin:forms_internetnewssheet_changelist' %}">Internet News</a>
            </h3>
            <p>Internet News: Capture here news that are online. Remember to only capture national (and if necessary, local) major websites.</P>
        </div>
        <div class="col-md-4 portfolio-item">
            <div class="box">
                <a href="{% url 'admin:forms_newspapersheet_add' %}">
                    <div>Add Newspaper Article</div>
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
            <h3>
                <a href="{% url 'admin:forms_newspapersheet_changelist' %}">Newspapers</a>
            </h3>
            <p>Newspapers: Newspaper news are news published on print. The number of newspapers you code will depend on the number of newspapers in your country.</P>
        </div>
        <div class="col-md-4 portfolio-item">
            <div class="box">
                <a href="{% url 'admin:forms_twittersheet_add' %}">
                    <div>Add Tweets</div>
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
            <h3>
                <a href="{% url 'admin:forms_twittersheet_changelist' %}">Twitter</a>
            </h3>
            <p>Twitter: Only capture tweets that are specific posts/feeds by news media on twitter. Remember to capture only national (and if necessary, local) media house Twitter feeds.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <div class="box">
                <a href="{% url 'admin:forms_radiosheet_add' %}">
                    <div>Add Radio Item</div>
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
            <h3>
                <a href="{% url 'admin:forms_radiosheet_changelist' %}">Radio News</a>
            </h3>
            <p>Radio News: Capture here news that are broadcast on the radio. The number of newscasts you code will depend on the number of radio channels that broadcast news in your country.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <div class="box">
                <a href="{% url 'admin:forms_televisionsheet_add' %}">
                    <div>Add Television Item</div>
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
            <h3>
                <a href="{% url 'admin:forms_televisionsheet_changelist' %}">Television News</a>
            </h3>
            <p>Televison News: Capture here news that are broadcast on television. The number of newscast you code will depend on the number of television channels that broadcast news in your country.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <div class="box">
                <a href="{% url 'admin:app_list' app_label='forms' %}">
                    <div>View All Data</div>
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock page_content %}
