{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <h2>Welcome to the 2020 GMMP Reporting tool.</h2>
            <p class=header-instructions>Select one of the following options to generate the relevant report.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <form action="/reports/" method="post">
            <input type="submit" name="global_form" value="Generate global report" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <form action="/reports/" method="post">
                {% csrf_token %}
                {{ country_form.as_p }}
            <input type="submit" name="country_form" value="Generate country report" />
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <form action="/reports/" method="post">
                {% csrf_token %}
                {{ region_form.as_p }}
            <input type="submit" name="region_form" value="Generate region report" />
        </div>
    </div>
{% endblock page_content %}
